*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.padre{
background-color: green;
height: 200vh; /*viewport height*/ 
/*viewport es la parte visual de la pag, la medida es relativa al dispositivo*/
width: 50vw; /*viewport width*/
display: flex;
flex-direction: row;
gap: 50px;
justify-content: space-around;
align-items: end;

/*row-gap: 100px;
column-gap: 50px;
flex-wrap: wrap;*/
}

.padre .hijo{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: blueviolet;
}

.padre .especial{
    background-color: red;
}